apiVersion: apps/v1
kind: Deployment
metadata:
  name: application-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: application
  template:
    metadata:
      labels:
        app: application
    spec:
      containers:
        - name: application
          image: asia-south1-docker.pkg.dev/sapient-origin-370513/devops-hackathon/application:latest
          ports:
            - containerPort: 3000
          imagePullPolicy: Always