apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
        - name: order
          image: asia-south1-docker.pkg.dev/sapient-origin-370513/devops-hackathon/order:v1
          ports:
            - containerPort: 3000
          imagePullPolicy: IfNotPresent
