apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order
  ports:
    - protocol: TCP
      port: 3000        # Service port
      targetPort: 3000  # Container port
  type: LoadBalancer
